.get_form {
  display: flex;
  justify-content: center;
  margin: 56px;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.get_form label {
  margin-right: 16px;
}

.errorMsg {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  color: red;
}
